.app {
  display: flex;
  justify-content: center;
}

.image__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.image {
  object-fit: cover;
  width: 350px;
  height: 350px;
  margin-bottom: 10px;
}

button {
  display: block;
  margin: 1em auto;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.placeholder {
  width: 350px;
  height: 350px;
  background: rgb(202, 202, 202);
}